<div class="row no-gutters">
    <div class="col">
    <div id="admin-jsx"></div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col">

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-outline-success" id="{{ button_id }}" type="submit">{{ label }}</button>
    {{ form_end(form) }}
</div>
</div>