<div class="row">
    <div id="admin-jsx"></div>
</div>

<div class="row">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button id="{{ button_id }}" type="submit">{{ label }}</button>
    {{ form_end(form) }}
</div>