<div class="row">
    <div id="js-content-adder">
        <input id="search" type="text"></div>
    <button id="trigger-search">search</button>
    <div id="content"></div>
</div>
</div>

{{ form_start(form) }}
    {{ form_widget(form) }}

<button id="{{ button_id }}" type="submit">{{ label }}</button>
{{ form_end(form) }}