{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-sm table-striped table-hover">
        <tbody>
            {% for item in items %}
                <tr>
                    <td colspan="2">
                        <span class="badge badge-success">{{ item.dueAt|due_since }}</span>
                        {{ include('util/_categories.html.twig', {'categories': item.categories}) }}
                    </td>
                    <td>
                        {{ include('util/_rating_indicator.html.twig', {'ratings': item.ratings}) }}
                    </td>
                    <td>
                        <a href="{{ path('item_edit', {'id': item.id}) }}"><span class="oi oi-pencil"></span></a>
                    </td>
                </tr>
            <tr>
                <td colspan="2">
                    {{ item.question|hide_words|markdown }}
                </td>
                <td colspan="2">
                    {{ item.answer|markdown }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}