{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{ item.question }}
                </td>
                <td>
                    {{ item.answer }}
                </td>
                <td>
                    {{ item.dueAt|date('Y-M-D H:i:s') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">create</button>
    {{ form_end(form) }}
{% endblock %}