{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{ include('util/_rating_indicator.html.twig', {'ratings': item.ratings}) }}
                    {{ item.question|markdown }}
                </td>
                <td>
                    {{ item.answer|markdown }}
                </td>
                <td>
                    {{ item.dueAt|due_since }}
                </td>
                <td>
                    <a href="{{ path('item_edit', {'id': item.id}) }}"><span class="oi oi-pencil"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}