{% extends 'base.html.twig' %}

{% block body %}
<div id="learn-view">
    {% if item %}
        <div class="row">
            <div id="question" class="card card-outline-secondary mb-3">
                <div class="card-body">
                    {{ item.question|markdown }}
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-light js-show btn-lg btn-block">
                <span class="oi oi-elevator"></span>
            </button>
        </div>
        <div class="row">
            <div id="answer" class="js-answer card card-outline-light mb-3">
                <div class="card-body">
                    {{ include('util/_rating_indicator.html.twig', {'ratings': item.ratings}) }}
                    {{ item.answer|markdown }}
                </div>
            </div>
        </div>

        <div class="row">
            <form method="post" action="{{ path('learn_handle_result', {'item': item.id}) }}">
                {% for i in 1..5 %}
                    <button class="btn btn-light btn-lg" name="learn_rating" value="{{ i }}">{{ i }}</button>
                    &nbsp;&nbsp;&nbsp;
                {% endfor %}
            </form>
        </div>
    {% else %}
        Nothing to learn
    {% endif %}</div>

{% endblock %}