<nav class="navbar-custom navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('learn') }}">Learn &nbsp;<span class="badge badge-secondary">{{ due_amount() }}</span></a>
            <a class="nav-item nav-link" href="{{ path('item_list') }}">List</a>
            <a class="nav-item nav-link" href="{{ path('item_create') }}">Create</a>
        </div>
        &nbsp;
        &nbsp;
        {{ include('util/_flash_messages.html.twig') }}
    </div>
</nav>