<nav class="navbar-custom navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('learn') }}">
                <span class="oi oi-inbox"></span>
            </a>
            <a class="nav-item nav-link" href="{{ path('item_list') }}"><span class="oi oi-spreadsheet"></span></a>
            <a class="nav-item nav-link" href="{{ path('item_create') }}"><span class="oi oi-plus"></span></a>
            <a class="nav-item nav-link" href="{{ path('note_index') }}">
                <span class="oi oi-file"></span>
                <span class="notes-count">{{ notes_amount() }}</span>
            </a>
        </div>
    </div>
    {{ include('util/_flash_messages.html.twig') }}
    <div id="notifications-jsx"></div>
</nav>