<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gogo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    {% endblock %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body id="{{ app.environment == 'prod' ? 'prod' : 'dev' }}">
<div class="container">
    <div class="content col-md-8 col-sm-12 offset-md-2">
        <div class="row">
            <div class="col">
                {{ include('_navigation.html.twig') }}
            </div>
        </div>
        <div class="row alert-outer">
            <div class="col" style="min-height: 0px">
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
        {#
     I don't want those insane file sizes from webpack during devlopment, hence I load react via an cdn.

     And I don't want the JS from the other parts of the app here, hence no parent().
    #}
    {% if app.environment == 'prod' %}
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    {% else %}
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    {% endif %}

    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('build/js/admin.js') }}"></script>
{% endblock %}
</body>
</html>
